# ä¸­é–“ç”Ÿæˆç‰©ï¼ˆå†ç”Ÿæˆã§ãã‚‹ã®ã§ã‚³ãƒŸãƒƒãƒˆã—ãªã„ï¼‰
apple_programs.json
cache_wp.json
cache_remix.json
cache_preview/
cache/
unmatched.txt
warnings.txt
__pycache__/
.DS_Store

# tools”z‰º‚Ì¶¬•¨iƒ‹[ƒg’¼‰º‚Ì‚à‚Ì‚ğg‚¤j
tools/*.json

tools/remixes_before_filter.json
